{% extends 'EcostepBundle:Default:squelette.html.twig' %}




{% block content %}

    <div class="container-fluid">
        <div class="row">
                <h1 class="gdTitreAlim">Votre menu à la carte !</h1>
        </div>
        <div class="row uneAlim">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 cache text-center">
                    <img src="{{ asset ('images/produits.jpg') }}" alt="produits" class="img-circle cercle1 ">
                    <h2 class="alimTitre2">Produits</h2>
                </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 cache text-center ">
                <img src="{{ asset ('images/recettes2.jpg') }}" alt="recettes" class="img-circle cercle1">
                <h2 class="alimTitre2">Recettes</h2>
            </div>

            <div class=" col-lg-4 col-md-4 col-sm-6 cache text-center">
                <img src="{{ asset ('images/bio.jpg') }}" alt="boutique" class="img-circle cercle1">
                <h2 class="alimTitre2">Commerces</h2>
            </div>

        </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 cache text-center">
                    <img src="{{ asset ('images/produits.jpg') }}" alt="produits" class="img-circle cercle1 ">
                    <h2 class="alimTitre2">Produits</h2>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 cache text-center ">
                    <img src="{{ asset ('images/recettes2.jpg') }}" alt="recettes" class="img-circle cercle1">
                    <h2 class="alimTitre2">Recettes</h2>
                </div>

                <div class=" col-lg-4 col-md-4 col-sm-6 cache text-center">
                    <img src="{{ asset ('images/bio.jpg') }}" alt="boutique" class="img-circle cercle1">
                    <h2 class="alimTitre2">Commerces</h2>
                </div>
            </div>

    </div>

{% endblock %}
