{% block navbar %}
    <!--
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display --
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling --
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="menua"><a href="#">Alimentation</a></li>
                <li class="menub"><a href="#">Energie</a></li>
                <li class="menuc"><a href="#">Transport</a></li>
                <li class="menud"><a href="#">Bien-être</a></li>
                <li class="menue"><a href="#">Recyclage</a></li>
                <li class="menuf"><a href="#">Habitat</a></li>
                <li class="menug"><a href="#">Loisirs</a></li>


            </ul>
        </div><!-- /.navbar-collapse --
    </div><!-- /.container-fluid --
</nav>
    <div class="bodyback">

    </div>
    -->
    <div class="container-fluid">
    <div class="row navbase">
        <ul>
            <li><a href="#"><img class="img-responsive picto" src="{{ asset('images/picto/alimentation.png') }}" alt="Alimentation" />Alimentation</a></li>
            <li><a href="#"><img class="img-responsive picto" src="{{ asset('images/picto/energie.png') }}" alt="Energie" />Energie</a></li>
            <li><a href="#"><img class="img-responsive picto" src="{{ asset('images/picto/transport.png') }}" alt="Transport" />Transport</a></li>
            <li><a href="#"><img class="img-responsive picto" src="{{ asset('images/picto/bien-etre.png') }}" alt="Bien-être" />Bien-être</a></li>
            <li><a href="#"><img class="img-responsive picto" src="{{ asset('images/picto/recyclage.png') }}" alt="Recyclage" />Recyclage</a></li>
            <li><a href="#"><img class="img-responsive picto" src="{{ asset('images/picto/habitat.png') }}" alt="Habitat" />Habitat</a></li>
            <li><a href="#"><img class="img-responsive picto" src="{{ asset('images/picto/loisirs.png') }}" alt="Loisirs" />Loisirs</a></li>

        </ul>

    </div>
    </div>
{% endblock %}