{% extends 'base.html.twig' %}

{% block head %}
    <meta charset="UTF-8" />
    <title>Bienvenu sur Ecostep</title>
    <link rel="stylesheet" href="{{ asset('bootstrap-3.3.7-dist/css/bootstrap-theme.min.css')}}">
    <link rel="stylesheet" href="{{ asset('bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <script src="{{ asset('bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('js/custom.js') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <script src="https://use.fontawesome.com/50889110b5.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% endblock %}

{% block banniere %}
    {% include 'EcostepBundle:Default:banniere.html.twig' %}
{% endblock %}

{% block navbar %}
    {% include 'EcostepBundle:Default:navbar.html.twig' %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    {% include 'EcostepBundle:Default:footer.html.twig' %}
{% endblock %}